AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BitFieldColonSpacing: After
BreakBeforeBraces: Attach
ColumnLimit: 128
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
LineEnding: CRLF
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
PPIndentWidth: 0
QualifierAlignment: Left
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SortIncludes: false
TabWidth: 4
UseTab: Never
WhitespaceSensitiveMacros: 